
<div class="{% unless product.available %} grid-view-item--sold-out{% endunless %} product-card" data-product-card>
  <div class="grid-view-item__link grid-view-item__image-container full-width-link">
    <span class="visually-hidden hidden-title">{{ product.title }}</span>
  </div>

  {%- assign img_url = product.featured_image | img_url: '1x1' | replace: '_1x1.', '_{width}x.' -%}

  <div class="box ratio-container lazyload js product-card__featured-image"
       data-bgset="{% include 'bgset', image: product.featured_image %}"
       data-sizes="auto"
       data-parent-fit="contain"
       style="background-image: url('{{ product.featured_image | img_url: '100x100' }}');
             background-size: cover;
             padding-bottom: calc(90vw * {{ section.settings.image_ratio }});
             background-position: center;">
    <div class="h4 grid-view-item__title product-card__title" aria-hidden="true">
      <p class="product-card__title-text">{{ product.title }}</p>
      {% include 'product-price', variant: product %}
    </div>
  </div>
</div>
