  <header class="site-header{% if section.settings.align_logo == 'left' %} border-bottom logo--left{% else %} logo--center{% endif %}" role="banner">
    <div class="grid grid--no-gutters grid--table site-header__mobile-nav">
      <img src="{{ section.settings.logo_image | img_url: '500x500' }}">
      <a href="/cart" class="site-header__icon_text site-header__cart">
        {% include 'icon-cart' %} <p><span class="small--hide">{{ 'layout.cart.title' | t }}</span></p>
      </a>
    </div>
  </header>

{% schema %}

{
  "name": "Header",
  "settings": [
    {
      "type": "image_picker",
      "id": "logo_image",
      "label": "Logo"
    }
  ]
}

{% endschema %}